* {
  --appColor: rgb(63, 62, 85);
}
body {
  color: var(--appColor);
}
.bg-app-color {
  background-color: var(--appColor);
  border: var(--appColor);
}
.font-app-color {
  color: var(--appColor);
}
.background-img {
  height: 400px;
  overflow: hidden;
}
.background-img > img {
  width: 100%;
}
.body-container .card {
  border-radius: 10px;
  height: 200px;
  background-color: var(--appColor);
  color: white;
  overflow: hidden;
  margin: 30px 0;
}
.body-container .card img {
  width: calc(100px + 20vw);
}

@media only screen and (max-width: 500px) {
  .body-container .card {
    min-height: 200px;
  }
}
